/* styles.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/* Reset styles for unordered lists */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

main {
    padding: 20px;
    margin-bottom: 50px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
