<!-- about_us.html -->
{% extends 'base.html' %}

{% block title %}About Us - MXMONEX{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
    <h2>About Us</h2>
    <p>Welcome to MXMONEX, where we strive to empower users with financial literacy and awareness.</p>
    <p>Our team is dedicated to providing meaningful articles and calculators in the future.</p>

    <h3>Our Mission</h3>
    <p>At MXMONEX, our mission is to empower individuals and communities with the knowledge and skills necessary to achieve financial well-being. </p>
    <p>We are committed to providing accessible and comprehensive financial education that equips people of all backgrounds to make informed decisions, build sustainable financial habits, and navigate the complexities of personal finance.</p>
    <p>Through our innovative and tailored programs, we strive to foster a culture of financial literacy, enabling individuals to achieve their goals, plan for the future, and secure a brighter and more confident financial future."</p>

    <h3>Meet the Team</h3>
    <p>Get to know the individuals who make this possible.</p>
    <ul>
        <li><strong>Devan Watson</strong> - CEO</li>
    </ul>
{% endblock %}
