<!-- calculator.html -->
{% extends 'base.html' %}

{% block title %}Calculator - MxMonex{% endblock %}

{% block content %}
    <h2>Total Finance Calculator</h2>
        <p>Embark on a financial journey with Total Finance Calculator, your comprehensive calculator covering all aspects of your financial life. Navigate through purchasing power, a myriad of taxes, and often-overlooked expenses, providing you with a detailed estimate of your overall financial well-being.</p>

        <form method="post" action="/calculator">

            <div class="mb-3">
                <button class="btn btn-dark custom-button" type="button" data-bs-toggle="collapse" data-bs-target="#Relationship" aria-expanded="false" aria-controls="Relationship">
                    Relationship
                </button>
                <div class="collapse" id="Relationship">
                    <div class="custom-input-group">
                        <div class="custom-prefix"></div>
                <select name="relationship_status" id="relationship_status">
                    <option value="Single">Single</option>
                    <option value="Married Filing Jointly">Married Filing Jointly</option>
                    <option value="Married Filing Separately">Married Filing Separately</option>
                    <option value="Head of Household">Head of Household</option>
                    <option value="Widow(er)">Qualifying Widow(er) With Dependent Child</option>
                </select>
            </div>
        </div>
    </div>

            <div class="mb-3">
                <button class="btn btn-dark custom-button" type="button" data-bs-toggle="collapse" data-bs-target="#State" aria-expanded="false" aria-controls="State">
                    State
                </button>
                <div class="collapse" id="State">
                    <div class="custom-input-group">
                        <div class="custom-prefix"></div>
                <select class="form-select custom-input" name="state" id="state" required>
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="California">California</option>
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option>
                    <option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option>
                    <option value="Kentucky">Kentucky</option>
                    <option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option>
                    <option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="North Dakota">North Dakota</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="Rhode Island">Rhode Island</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option>
                    <option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                </select>
            </div>
        </div>
    </div>

            <div class="mb-3">
                <button class="btn btn-dark custom-button" type="button" data-bs-toggle="collapse" data-bs-target="#FinancialIncome" aria-expanded="false" aria-controls="FinancialIncome">
                    Financial Income
                </button>
                <div class="collapse" id="FinancialIncome">
                    <div class="custom-input-group">
                        <label for="annual_income">Gross Income:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="annual_income" type="text" value="" class="custom-input" required>
                    </div>
                    
                    <div class="custom-input-group">
                        <label for="capital_gain_tax">Capital Gain:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="capital_gain_tax" class="custom-input" required>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-dark custom-button" type="button" data-bs-toggle="collapse" data-bs-target="#FinancialSavings" aria-expanded="false" aria-controls="FinancialSavings">
                    Financial Savings
                </button>
                <div class="collapse" id="FinancialSavings">
                    <div class="custom-input-group">
                        <label for="pre_tax_savings">Pre-tax Savings:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="pre_tax_savings" type="text" value="" class="custom-input" required>
                    </div>
                    
                    <div class="custom-input-group">
                        <label for="post_tax_savings">Post-tax Savings:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="post_tax_savings" type="text" value="" class="custom-input" required>
                    </div>
                </div>
            </div>


            <div class="mb-3">
                <button class="btn btn-dark custom-button" type="button" data-bs-toggle="collapse" data-bs-target="#HomeExpenses" aria-expanded="false" aria-controls="HomeExpenses">
                    Home Expenses
                </button>
                <div class="collapse" id="HomeExpenses">
                    <div class="custom-input-group">
                        <label for="housing">Housing:</label>
                        <div class="custom-prefix">$/mo.</div>
                        <input type="number" name="housing" type="text" value="" class="custom-input" required>
                    </div>
        
                    <div class="custom-input-group">
                        <label for="property_tax">Property Tax:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="property_tax" type="text" value="" class="custom-input" required>
                    </div>
                    
                    <div class="custom-input-group">
                        <label for="hoa_tax">HOA Fees:</label>
                        <div class="custom-prefix">$/mo.</div>
                        <input type="number" name="hoa_tax" type="text" value="" class="custom-input" required>
                    </div>
                    
                    <div class="custom-input-group">
                        <label for="home_maintenance">Home Maint:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="home_maintenance" type="text" value="" class="custom-input" required>
                    </div>
        
                    <div class="custom-input-group">
                        <label for="utility_tax">Utility Bills:</label>
                        <div class="custom-prefix">$/mo.</div>
                        <input type="number" name="utility_tax" type="text" value="" class="custom-input" required>
                    </div>

                    <div class="custom-input-group">
                        <label for="closing_tax">Closing Fees:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="closing_tax" type="text" value="" class="custom-input" required>
                    </div>

                    <div class="custom-input-group">
                        <label for="realty_transfer_tax">Realty Transfer Fees:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="realty_transfer_tax" type="text" value="" class="custom-input" required>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-dark custom-button" type="button" data-bs-toggle="collapse" data-bs-target="#Necessities" aria-expanded="false" aria-controls="Necessities">
                    Necessities
                </button>
                <div class="collapse" id="Necessities">
                    <div class="custom-input-group">
                        <label for="insurance_tax">Insurance Bills:</label>
                        <div class="custom-prefix">$/mo.</div>
                        <input type="number" name="insurance_tax" type="text" value="" class="custom-input" required>
                    </div>
                
                    <div class="custom-input-group">
                        <label for="food_sales_tax">Food Expenses:</label>
                        <div class="custom-prefix">$/mo.</div>
                        <input type="number" name="food_sales_tax" type="text" value="" class="custom-input" required>
                    </div>
                    
                    <div class="custom-input-group">
                        <label for="cell_tax">Cell Phone Bill:</label>
                        <div class="custom-prefix">$/mo.</div>
                        <input type="number" name="cell_tax" type="text" value="" class="custom-input" required>
                    </div>
                
                    <div class="custom-input-group">
                        <label for="childcare">Childcare:</label>
                        <div class="custom-prefix">$/mo.</div>
                        <input type="number" name="childcare" type="text" value="" class="custom-input" required>
                    </div>
                
                    <div class="custom-input-group">
                        <label for="personal_care">Personal Care:</label>
                        <div class="custom-prefix">$/mo.</div>
                        <input type="number" name="personal_care" type="text" value="" class="custom-input" required>
                    </div>

                    <div class="custom-input-group">
                        <label for="pet_tax">Pet Expenses:</label>
                        <div class="custom-prefix">$/mo.</div>
                        <input type="number" name="pet_tax" type="text" value="" class="custom-input" required>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-dark custom-button" type="button" data-bs-toggle="collapse" data-bs-target="#Travel" aria-expanded="false" aria-controls="Travel">
                    Travel
                </button>
                <div class="collapse" id="Travel">
                    <div class="custom-input-group">
                        <label for="flight_tax">Airline Ticket Expenses:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="flight_tax" type="text" value="" class="custom-input" required>
                    </div>
                    
                    <div class="custom-input-group">
                        <label for="hotel_tax">Hotel Expenses:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="hotel_tax" type="text" value="" class="custom-input" required>
                    </div>
        
                    <div class="custom-input-group">
                        <label for="car_rental_tax">Car Rental Expenses:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="car_rental_tax" type="text" value="" class="custom-input" required>
                    </div>
        
                    <div class="custom-input-group">
                        <label for="uber_tax">Uber Rides:</label>
                        <div class="custom-prefix">#/mo.</div>
                        <input type="number" name="uber_tax" type="text" value="" class="custom-input" required>
                    </div>
                    
                    <div class="custom-input-group">
                        <label for="uber_Expenses">Uber Expenses:</label>
                        <div class="custom-prefix">$/mo.</div>
                        <input type="number" name="uber_Expenses" type="text" value="" class="custom-input" required>
                    </div>

                    <div class="custom-input-group">
                        <label for="gas_tax">Fuel:</label>
                        <div class="custom-prefix">$/wk.</div>
                        <input type="number" name="gas_tax" type="text" value="" class="custom-input" required>
                    </div>            
                    
                    <div class="custom-input-group">
                        <label for="vehicle_reg_tax">Vehicle Registration:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="vehicle_reg_tax" type="text" value="" class="custom-input" required>
                    </div>
        
                    <div class="custom-input-group">
                        <label for="transportation_maintenance">Transportation Maintenance :</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="transportation_maintenance" type="text" value="" class="custom-input" required>
                    </div>
                    
                    <div class="custom-input-group">
                        <label for="parking_tax">Vehicle Parking Fees:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="parking_tax" type="text" value="" class="custom-input" required>
                    </div>
                    
                    <div class="custom-input-group">
                        <label for="tire_tax">Tires Purchased:</label>
                        <div class="custom-prefix">#</div>
                        <input type="number" name="tire_tax" type="text" value="" class="custom-input" required>
                    </div>
                    
                    <div class="custom-input-group">
                        <label for="tire_Expenses">Tire Expenses:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="tire_Expenses" type="text" value="" class="custom-input" required>
                    </div>
        
                    <div class="custom-input-group">
                        <label for="toll_tax">Toll Expenses:</label>
                        <div class="custom-prefix">$/mo.</div>
                        <input type="number" name="toll_tax" type="text" value="" class="custom-input" required>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-dark custom-button" type="button" data-bs-toggle="collapse" data-bs-target="#ExciseTax" aria-expanded="false" aria-controls="ExciseTax">
                    Excise Tax
                </button>
                <div class="collapse" id="ExciseTax">
                    <div class="custom-input-group">
                        <label for="alcohol_tax">Alcohol:</label>
                        <div class="custom-prefix">$/wk</div>
                        <input type="number" name="alcohol_tax" type="text" value="" class="custom-input" required>
                    </div>
                    
                    <div class="custom-input-group">
                        <label for="tobacco_tax">Packs of Cigarettes:</label>
                        <div class="custom-prefix">#/wk</div>
                        <input type="number" name="tobacco_tax" type="text" value="" class="custom-input" required>
                    </div>
                    
                    <div class="custom-input-group">
                        <label for="weed_tax">Cannabis Consumption:</label>
                        <div class="custom-prefix">oz./mo.</div>
                        <input type="number" name="weed_tax" type="text" value="" class="custom-input" required>
                    </div>
                    
                    <div class="custom-input-group">
                        <label for="weed_Expenses">Cannabis Expenses:</label>
                        <div class="custom-prefix">$/mo.</div>
                        <input type="number" name="weed_Expenses" type="text" value="" class="custom-input" required>
                    </div>
                
                    <div class="custom-input-group">
                        <label for="vape_tax">Vape:</label>
                        <div class="custom-prefix">$/mo.</div>
                        <input type="number" name="vape_tax" type="text" value="" class="custom-input" required>
                    </div>
                
                    <div class="custom-input-group">
                        <label for="gun_tax">Guns & Ammo:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="gun_tax" type="text" value="" class="custom-input" required>
                    </div>

                    <div class="custom-input-group">
                        <label for="soda_tax">Soda Intake:</label>
                        <div class="custom-prefix">oz./day</div>
                        <input type="number" name="soda_tax" type="text" value="" class="custom-input" required>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-dark custom-button" type="button" data-bs-toggle="collapse" data-bs-target="#Entertainment" aria-expanded="false" aria-controls="Entertainment">
                    Entertainment
                </button>
                <div class="collapse" id="Entertainment">
                    <div class="custom-input-group">
                        <label for="subscriptions">Subscriptions :</label>
                        <div class="custom-prefix">$/mo.</div>
                        <input type="number" name="subscriptions" type="text" value="" class="custom-input" required>
                    </div>
                
                    <div class="custom-input-group">
                        <label for="entertainment">Entertainment :</label>
                        <div class="custom-prefix">$/mo.</div>
                        <input type="number" name="entertainment" type="text" value="" class="custom-input" required>
                    </div>
                
                    <div class="custom-input-group">
                        <label for="event_ticket_tax">Event Tickets:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="event_ticket_tax" type="text" value="" class="custom-input" required>
                    </div>

                    <div class="custom-input-group">
                        <label for="park_tax">National Parks:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="park_tax" type="text" value="" class="custom-input" required>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-dark custom-button" type="button" data-bs-toggle="collapse" data-bs-target="#Miscellaneous" aria-expanded="false" aria-controls="Miscellaneous">
                    Miscellaneous
                </button>
                <div class="collapse" id="Miscellaneous">
                    <div class="custom-input-group">
                        <label for="donation_tax">Donations:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="donation_tax" type="text" value="" class="custom-input" required>
                    </div>
                
                    
                    <div class="custom-input-group">
                        <label for="education_tax">Educaton:</label>
                        <div class="custom-prefix">$/yr</div>
                        <input type="number" name="education_tax" type="text" value="" class="custom-input" required>
                    </div>
                    
                
                    <div class="custom-input-group">
                        <label for="clothing">Clothing:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="clothing" type="text" value="" class="custom-input" required>
                    </div>
                
                    <div class="custom-input-group">
                        <label for="miscellaneous">Miscellaneous :</label>
                        <div class="custom-prefix">$/mo.</div>
                        <input type="number" name="miscellaneous" type="text" value="" class="custom-input" required>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-dark custom-button" type="button" data-bs-toggle="collapse" data-bs-target="#Fees" aria-expanded="false" aria-controls="Fees">
                    Fees
                </button>
                <div class="collapse" id="Fees">
                    <div class="custom-input-group">
                        <label for="atm_tax">ATM Visits:</label>
                        <div class="custom-prefix">#/mo.</div>
                        <input type="number" name="atm_tax" type="text" value="" class="custom-input" required>
                    </div>
                    
                    <div class="custom-input-group">
                        <label for="early_term_tax">Early Termination Fees:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="early_term_tax" type="text" value="" class="custom-input" required>
                    </div>
                    
                    <div class="custom-input-group">
                        <label for="insuff_funds_tax">Insufficient Funds Fees:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="insuff_funds_tax" type="text" value="" class="custom-input" required>
                    </div>
        
                    <div class="custom-input-group">
                        <label for="non_refundable_deposit_tax">Non-Refundable Deposit Fees:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="non_refundable_deposit_tax" type="text" value="" class="custom-input" required>
                    </div>
                    
                    <div class="custom-input-group">
                        <label for="late_tax">Late Fees:</label>
                        <div class="custom-prefix">$/yr.</div>
                        <input type="number" name="late_tax" type="text" value="" class="custom-input" required>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn custom-btn">Calculate</button>
        </form>

        <p id="result" style="display: none;"></p>
        <p id="error" style="color: red;"></p>
    {% endblock %}
