<!-- contact_us.html -->
{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <h2>Contact Us</h2>
    <p>If you have any questions or concerns, feel free to reach out to us:</p>

    <ul>
        <li>Email: onesxstem@proton.me</li>
    </ul>

    <p>Alternatively, you can use the form below to send us a message:</p>

    <form action="/submit_contact_form" method="post">
        
        <div>
            <label for="name">Name:</label>
        </div>

        <div>
            <input type="text" id="name" name="name" required>
        </div>

        <div>
            <label for="email">Email:</label>
        </div> 

        <div>
            <input type="email" id="email" name="email" required>
        </div>
        
        <div>
            <label for="message">Message:</label>
        </div>
        
        <div>
            <textarea id="message" name="message" rows="6" cols="60" required></textarea>
        </div>
    
        <button type="submit">Submit</button>

    </form>
    {% endblock %}
