{% extends "base.html" %}

{% block title %}Finance Quizzes | MxMonex{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/quizzes.css">

<header>
    <h1>Quizzes</h1>
</header>

    <p>Please select a quiz from the dropdown menu.</p>

    <nav>
        <label for="quiz-selector">Select a Quiz:</label>
        <select id="quiz-selector">
            <option value="" selected disabled>Select a Quiz</option>
            <option value="ipm">Investment and Portfolio Management</option>
            <option value="pfm">Personal Finance Mastery</option>
            <option value="epp">Economic Principles and Policies</option>
            <option value="fmi">Financial Markets and Instruments</option>
            <option value="get">Global Economic Trends</option>
            <option value="gpf">Government and Public Finance</option>
            <option value="fle">Financial Literacy and Education</option>
            <option value="cdm">Credit and Debt Management</option>
            <option value="ebf">Entrepreneurship and Business Finance</option>
            <option value="bedm">Behavioral Economics and Decision Making</option>
            <option value="repi">Real Estate and Property Investment</option>
            <option value="tfp">Taxation and Financial Planning</option>
            <option value="frc">Financial Regulations and Compliance</option>
            <option value="tf">Technology and Finance</option>
            <option value="sfe">Sustainable Finance and ESG</option>
            <option value="irm">Insurance and Risk Management</option>
            <option value="fhec">Financial History and Economic Crises</option>
            <option value="ipms">Investment Psychology and Market Sentiment</option>
            <option value="ai">Alternative Investments</option>
            <option value="etf">Emerging Trends in Finance</option>


        </select>
    </nav>

    <div class="quiz-container">
        <form id="quiz-form">
        </form>
        <div id="results">
            <p id="score"></p>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js" integrity="sha384-BsB0Q1EKaAnxqCg4j5HM9/4aInUusu87LkJOl5ELf8E6egpR8shB+aDm6MZWiD99" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyBkMQc6Pp0UZlK/UZ9FpLbXa9K/8pWmJ" crossorigin="anonymous"></script>

<script src="/static/js/quizzes.js"></script>

{% endblock %}