<!-- stats.html -->
{% extends 'base.html' %}

{% block title %}Economy Statistics | MxMonex{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/stats.css">

<body>

    <header>
        <h1>Financial Statistics</h1>
    </header>

    <nav>
        <label for="sections">Select a Section:</label>
        <select id="sections" onchange="showSection(this.value); loadGraph(this.value);">
            <option value="introduction">Introduction</option>
            <option value="housing">Housing Statistics</option>
            <option value="wage">Wage Statistics</option>
            <option value="investments">Savings and Investments</option>
            <option value="debt">Debt Statistics</option>
            <option value="economy">Economy Statistics</option>
            <option value="crypto">Crypto Statistics</option>
            <option value="sources-methodology">Sources and Methodology</option>
        </select>
    </nav>

    <section id="introduction">
        <p>Welcome to our comprehensive overview of key economic indicators and trends affecting individuals and households.</p>
        <p>Explore the example interactive chart below to visualize the dynamic trends in M2 money supply over time.</p>
        <p>Please note that the data presented here is based on the latest available information and is subject to change.</p>
            <div class='embed-container'><iframe src="https://fred.stlouisfed.org/graph/graph-landing.php?g=1eyEO&width=100%&height=475" scrolling="no" frameborder="0" style="overflow:hidden; width:100%; height:525px;" allowTransparency="true"></iframe></div>
    </section>

    <section id="wage">
        <h2>Wage Statistics</h2>
        <ul>
            <p>Federal Minimum Wage:</p>
            <div class='embed-container'><iframe src="https://fred.stlouisfed.org/graph/graph-landing.php?g=1gk49&width=100%&height=475" scrolling="no" frameborder="0" style="overflow:hidden; width:100%; height:525px;" allowTransparency="true"></iframe></div>
        </ul>
    </section>

    <section id="investments">
        <h2>Savings and Investments</h2>
        <ul>
            <p>Average Savings Rate:</p>
            <div class='embed-container'><iframe src="https://fred.stlouisfed.org/graph/graph-landing.php?g=1f4k4&width=100%&height=475" scrolling="no" frameborder="0" style="overflow:hidden; width:100%; height:525px;" allowtransparency="true"></iframe></div>
        </ul>
    </section>    

    <section id="debt">
        <h2>Debt Statistics</h2>
        <ul>
            <p>Federal Debt:</p>
            <div class='embed-container'><iframe src="https://fred.stlouisfed.org/graph/graph-landing.php?g=1cSNC&width=100%&height=475" scrolling="no" frameborder="0" style="overflow:hidden; width:100%; height:525px;" allowTransparency="true"></iframe></div>
            <p>Personal Consumer Spending:</p>
            <div class='embed-container'><iframe src="https://fred.stlouisfed.org/graph/graph-landing.php?g=1eQnW&width=100%&height=475" scrolling="no" frameborder="0" style="overflow:hidden; width:100%; height:525px;" allowTransparency="true"></iframe></div>
        </ul>
    </section>

    <section id="economy">
        <h2>Inflation and Prices</h2>
        <ul>
            <p>Consumer Price Index:</p>
            <div class='embed-container'><iframe src="https://fred.stlouisfed.org/graph/graph-landing.php?g=1gj30&width=100%&height=475" scrolling="no" frameborder="0" style="overflow:hidden; width:100%; height:525px;" allowTransparency="true"></iframe></div>
            <p>Gas Prices:</p>
            <div class='embed-container'><iframe src="https://fred.stlouisfed.org/graph/graph-landing.php?g=1gj7G&width=100%&height=475" scrolling="no" frameborder="0" style="overflow:hidden; width:100%; height:525px;" allowTransparency="true"></iframe></div>
            <p>Diesel Prices:</p>
            <div class='embed-container'><iframe src="https://fred.stlouisfed.org/graph/graph-landing.php?g=1gj7Z&width=100%&height=475" scrolling="no" frameborder="0" style="overflow:hidden; width:100%; height:525px;" allowTransparency="true"></iframe></div>
        </ul>
    </section>

    <section id="crypto">
        <h2>Crypto Statistics</h2>
        <ul>
            <p>Bitcoin:</p>
            <div class='embed-container'><iframe src="https://fred.stlouisfed.org/graph/graph-landing.php?g=1gj4w&width=100%&height=475" scrolling="no" frameborder="0" style="overflow:hidden; width:100%; height:525px;" allowTransparency="true"></iframe></div>
            <p>Ethereum:</p>
            <div class='embed-container'><iframe src="https://fred.stlouisfed.org/graph/graph-landing.php?g=1gj4z&width=100%&height=475" scrolling="no" frameborder="0" style="overflow:hidden; width:100%; height:525px;" allowTransparency="true"></iframe></div>
            <p>Litecoin:</p>
            <div class='embed-container'><iframe src="https://fred.stlouisfed.org/graph/graph-landing.php?g=1gj51&width=100%&height=475" scrolling="no" frameborder="0" style="overflow:hidden; width:100%; height:525px;" allowTransparency="true"></iframe></div>
        </ul>
    </section>

    <section id="sources-methodology">
        <h2>Sources and Methodology</h2>
        <p>Data Sources: The statistical data presented on this page is sourced from reputable providers, including FRED Economic Data. These sources compile data from various official publications, government reports, and financial institutions.</p>
        <p>Methodology: Our approach involves collecting, aggregating, and analyzing the most recent and reliable data available from the mentioned sources. We aim to present accurate and up-to-date information on key financial metrics. It's important to note that while we strive for precision, the presented data may be subject to periodic revisions by the source providers.</p>
    </section>
    
    <footer>
        <p>Page last updated on 02/08/2024. This information is for informational purposes only. Please note that data may be subject to change.</p>
    </footer>

    <script>
        showSection('introduction');

        function showSection(sectionId) {
            var sections = document.querySelectorAll('section');
            sections.forEach(function(section) {
                section.style.display = 'none';
            });
            var selectedSection = document.getElementById(sectionId);
            selectedSection.style.display = 'block';
        }
    </script>

<script src="https://fred.stlouisfed.org/graph/js/embed.js" type="text/javascript"></script>
    
</body>
</html>

{% endblock %}