{% extends 'base.html' %}

{% block title %}Store - MxMonex{% endblock %}

{% block content %}
    <section class="coming-soon">
        <h2>Exciting Things Are Coming Soon!</h2>
        <div class="store-container row">
            <div class="col-md-6">
                <div class="store-item">
                    <img src="{{ url_for('static', filename='images/logo_coaster.png') }}" alt="Product 1" class="img-fluid">
                    <p>Logo Coaster</p>
                </div>
                
                <div class="store-item">
                    <img src="{{ url_for('static', filename='images/logo_sticker.png') }}" alt="Product 3" class="img-fluid">
                    <p>Logo Sticker</p>
                </div>
                
                <div class="store-item">
                    <img src="{{ url_for('static', filename='images/logo_tshirt.png') }}" alt="Product 4" class="img-fluid">
                    <p>Logo T-Shirt (Toddler)</p>
                </div>
                
                <div class="store-item">
                    <img src="{{ url_for('static', filename='images/logo_tshirt2.png') }}" alt="Product 6" class="img-fluid">
                    <p>Logo T-Shirt (Women)</p>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="store-item">
                    <img src="{{ url_for('static', filename='images/logo_coaster1.png') }}" alt="Product 2" class="img-fluid">
                    <p>Logo Coaster</p>
                </div>
                
                <div class="store-item">
                    <img src="{{ url_for('static', filename='images/logo_tshirt1.png') }}" alt="Product 5" class="img-fluid">
                    <p>Logo T-Shirt (Men)</p>
                </div>
                
                <div class="store-item">
                    <img src="{{ url_for('static', filename='images/logo_tshirt3.png') }}" alt="Product 7" class="img-fluid">
                    <p>Logo T-Shirt (Youth)</p>
                </div>
            </div>
        </div>
        <p>We're working on our store. Stay tuned for exclusive products and fantastic deals.</p>
        <p>Thank you for your patience and support!</p>
    </section>
{% endblock %}
